[Unit]
Description=Maverick mavlink-router Mavlink Proxy - %I
After=network-online.target maverick-sitl.service
Requires=network-online.target

[Service]
TimeoutStartSec=0
ExecStart=/srv/maverick/software/mavlink-router/bin/mavlink-routerd -c /srv/maverick/config/mavlink/mavlink-router-%I.conf
User=mav

[Install]
WantedBy=multi-user.target