[Unit]
Description=Maverick Mavproxy - %I
After=network-online.target maverick-sitl.service
Requires=network-online.target

[Service]
TimeoutStartSec=0
Type=forking
EnvironmentFile=/srv/maverick/data/config/mavlink/mavproxy-%I.service.conf
ExecStart=/srv/maverick/software/maverick/bin/mavproxy.sh %I
User=mav

[Install]
WantedBy=multi-user.target