nodes/
ssl/
*.pyc
bin/cpu-control
bin/ocam-viewer
bin/wifibroadcast-if.sh
bin/maverick-info
bin/maverick-netinfo
bin/maverick-visiond
bin/mavproxy-fc.sh
bin/mavproxy-sitl.sh
bin/dev-sitl.sh
bin/monitor-interface.sh
bin/mavros.sh
conf/local-nodes/
