nodes/
ssl/
*.pyc
bin/cpu-control
bin/ocam-viewer
bin/wifibroadcast-if.sh
bin/maverick-info
bin/maverick-netinfo
bin/maverick-visiond
bin/maverick-logd
bin/mavproxy-fc.sh
bin/mavproxy-sitl.sh
bin/dev-sitl.sh
bin/monitor-interface.sh
bin/mavros.sh
bin/cmavnode.sh
bin/mavlink-router.sh
bin/mavproxy.sh
bin/rosmaster.sh
bin/vision_seek.sh
bin/sitl.sh
conf/local-nodes/
conf/maverick-branch.conf
