[Unit]
Description=Maverick Mavros - %I
Requires=multi-user.target maverick-rosmaster@fc.service maverick-rosmaster@sitl.service maverick-rosmaster@px4.service maverick-sitl.service

[Service]
TimeoutStartSec=0
ExecStart=/srv/maverick/software/maverick/bin/mavros.sh %I
User=mav
