[Unit]
Description=Maverick ROS Master - %I
After=maverick-motd.service
Requires=multi-user.target

[Service]
TimeoutStartSec=0
ExecStart=/srv/maverick/software/maverick/bin/rosmaster.sh %I
User=mav
