[Unit]
Description=Maverick ROS Master - %I
After=maverick-mavproxy@fc.service maverick-mavproxy@sitl.service maverick-mavlink-router@fc.service maverick-mavlink-router@sitl.service maverick-cmavnode@fc.service maverick-cmavnode@sitl.service
Requires=network-online.target

[Service]
TimeoutStartSec=0
ExecStart=/srv/maverick/software/maverick/bin/rosmaster.sh %I
User=mav

[Install]
WantedBy=multi-user.target