[Unit]
Description=Maverick ROS Master - %I
After=network-online.target
StartLimitBurst=5

[Service]
TimeoutStartSec=0
ExecStart=/srv/maverick/software/maverick/bin/rosmaster.sh %I
User=mav
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target