[Unit]
Description=Maverick Mavros - %I
After=maverick-rosmaster@fc.service maverick-rosmaster@sitl.service maverick-sitl.service


[Service]
TimeoutStartSec=0
ExecStart=/srv/maverick/software/maverick/bin/mavros.sh %I
User=mav

[Install]
WantedBy=multi-user.target
