[Unit]
Description=InfluxDB is an open-source, distributed, time series database
After=network.target
Wants=network-online.target
After=network-online.target
Before=maverick-collectd.service

[Service]
User=mav
Group=mav
LimitNOFILE=65536
EnvironmentFile=-/etc/default/influxdb
ExecStart=/usr/bin/influxd -config /srv/maverick/config/analysis/influxdb.conf $INFLUXD_OPTS
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
