[Unit]
Description=Maverick Log Import Daemon
After=network-online.target maverick-grafana.service maverick-influxd.service
Requires=network-online.target maverick-grafana.service maverick-influxd.service

[Service]
TimeoutStartSec=0
ExecStart=/srv/maverick/software/python/bin/python3 /srv/maverick/software/maverick/bin/maverick-mavlogd
User=mav
TimeoutStartSec=20
Restart=on-failure

[Install]
WantedBy=multi-user.target

