[Unit]
Description=Maverick instance of Statistics collection and monitoring daemon
After=local-fs.target network.target maverick-influxd.service
Requires=local-fs.target network.target
ConditionPathExists=/srv/maverick/data/config/analysis/collectd/collectd.conf
Documentation=man:collectd(1)
Documentation=man:collectd.conf(5)
Documentation=https://collectd.org

[Service]
Type=notify
NotifyAccess=main
EnvironmentFile=-/etc/default/collectd
ExecStartPre=/srv/maverick/software/collectd/sbin/collectd -t -C /srv/maverick/data/config/analysis/collectd/collectd.conf
ExecStart=/srv/maverick/software/collectd/sbin/collectd -C /srv/maverick/data/config/analysis/collectd/collectd.conf
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target