[Unit]
Description=Maverick - Collision Avoidance Library Tool
Requires=network-online.target
After=maverick-mavlink@fc.service maverick-mavlink@sitl.service

[Service]
EnvironmentFile=/srv/maverick/config/vision/coav.conf
ExecStart=/srv/maverick/software/collision_avoidance/bin/coav-control -d $DETECTOR -a $AVOIDANCE -s $SENSOR -p $PORT
TimeoutStartSec=0
User=mav

[Install]
WantedBy=multi-user.target
