[Unit]
Description=Maverick - Camera Streaming Daemon
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/srv/maverick/software/camera-streaming-daemon/bin/csd -c /srv/maverick/config/vision/csd.conf
TimeoutStartSec=0
User=mav

[Install]
WantedBy=multi-user.target
