[Unit]
Description=Maverick Vision Daemon
After=network-online.target
Requires=network-online.target

[Service]
TimeoutStartSec=0
ExecStart=/srv/maverick/software/maverick/bin/maverick-visiond
User=mav
Restart=on-failure

[Install]
WantedBy=multi-user.target

