[Unit]
Description=Maverick Web Vision
After=network-online.target multi-user.target
Requires=network-online.target multi-user.target

[Service]
TimeoutStartSec=0
ExecStart=/srv/maverick/software/maverick-fcs/tornado/webvision.py
User=mav
TimeoutStartSec=20

[Install]
WantedBy=multi-user.target

