[Unit]
Description=Maverick Web Vision
After=network-online.target
Requires=maverick-visiond.service network-online.target

[Service]
TimeoutStartSec=0
ExecStart=/srv/maverick/software/python/bin/python3 /srv/maverick/software/maverick-fcs/tornado/webvision.py
User=mav
TimeoutStartSec=20

[Install]
WantedBy=multi-user.target

