[Unit]
Description=Maverick - Vision Landing System
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/srv/maverick/software/vision_landing/vision_landing
TimeoutStartSec=0
User=mav

[Install]
WantedBy=multi-user.target
