[Unit]
Description=Maverick - Vision Landing System
Requires=network-online.target
After=maverick-mavlink@fc.service maverick-mavlink@sitl.service

[Service]
ExecStart=/srv/maverick/software/vision_landing/vision_landing -c /srv/maverick/config/vision/vision_landing.conf
TimeoutStartSec=0
User=mav

[Install]
WantedBy=multi-user.target
