[Unit]
Description=WebRTC Janus Gateway
After=maverick-visiond.service
Requires=network-online.target

[Service]
TimeoutStartSec=0
ExecStart=/srv/maverick/software/janus-gateway/bin/janus --configs-folder=/srv/maverick/config/web/janus
User=mav

[Install]
WantedBy=multi-user.target

