[Unit]
Description=Maverick Web Devserver
After=network-online.target multi-user.target
Requires=network-online.target multi-user.target

[Service]
TimeoutStartSec=0
WorkingDirectory=/srv/maverick/code/maverick-web
ExecStart=/usr/bin/yarn run serve
User=mav
TimeoutStartSec=20
Restart=on-failure

[Install]
WantedBy=multi-user.target

