[Unit]
Description=Maverick Web Discovery Service
After=network-online.target multi-user.target
Requires=network-online.target multi-user.target

[Service]
TimeoutStartSec=0
WorkingDirectory=/srv/maverick/software/maverick-discovery
ExecStart=/srv/maverick/software/python/bin/python3 /srv/maverick/software/maverick-discovery/maverick-discovery.py
User=mav
TimeoutStartSec=20
Restart=on-failure

[Install]
WantedBy=multi-user.target

