[Unit]
Description=Maverick First Boot actions

[Service]
Type=oneshot
RemainAfterExit=True
TimeoutStartSec=0
ExecStart=/bin/sh -c 'if [ -e /srv/maverick/software/maverick/bin/firstboot.sh ]; then /srv/maverick/software/maverick/bin/firstboot.sh; fi'
User=mav

[Install]
WantedBy=multi-user.target

